{% extends "main/index.html" %}

{% block content %}
    <div id="page_content_inner">
        {% if message %}<h3 style="color:red">{{ message }}</h3>{% endif %}
        <form action="{% url 'gym:event_insert_gym' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="uk-grid">
                <div class="uk-width-1-6">
                    <input type="file" class="dropify_gym_profile_photo" name="logo">
                </div>
                <div class="uk-width-4-6">
                    <input type="file" class="dropify_gym_banner_image" name="banner" multiple>
                </div>
                <div class="uk-width-1-6">
                    <input type="file" class="dropify_gym_video" name="video">
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Gym Full Name <strong class="uk-text-danger">*</strong></label>
                    <input required type="text" class="md-input label-fixed md-input-custom" placeholder="Gym Full Name" name="fullname">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Gym Username <strong class="uk-text-danger">*</strong></label>
                    <input required type="text" class="md-input label-fixed md-input-custom" placeholder="Gym Username" name="username">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Email <strong class="uk-text-danger">*</strong></label>
                    <input required type="email" class="md-input label-fixed md-input-custom" placeholder="Email" name="email">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Website Url <strong class="uk-text-danger">*</strong></label>
                    <input required type="url" class="md-input label-fixed md-input-custom" placeholder="Website Url" name="website">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Phone Number <strong class="uk-text-danger">*</strong></label>
                    <input required type="tel" class="md-input label-fixed md-input-custom" placeholder="Phone Number" name="phone">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Features <strong class="uk-text-danger">*</strong></label>
                    <div class="selectize_custom">
                        <select name="features" data-md-selectize data-md-selectize-bottom data-placeholder="Features..." multiple>
                        {% for feature in features %}
                            <option value="{{feature.id}}">{{feature.name}}</option>
                        {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Vendor Id <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Vendor Id" name="vendor">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Categories <strong class="uk-text-danger">*</strong></label>
                    <div class="selectize_custom">
                        <select name="categories" data-md-selectize data-md-selectize-bottom data-placeholder="Categories..." multiple>
                        {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                        {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Country <strong class="uk-text-danger">*</strong></label>
                    <div class="selectize_custom">
                        <select  name="country" data-md-selectize data-md-selectize-bottom data-placeholder="Country...">
                        {% for country in country_list %}
                            <option value="{{country.name}}">{{country.name}}</option>
                        {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Latitude <strong class="uk-text-danger">*</strong></label>
                    <input required type="text" class="md-input label-fixed md-input-custom" placeholder="Latitude" name="latitude">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Longitude <strong class="uk-text-danger">*</strong></label>
                    <input required type="text" class="md-input label-fixed md-input-custom" placeholder="Longitude" name="longitude">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Address <strong class="uk-text-danger">*</strong></label>
                    <input required type="text" class="md-input label-fixed md-input-custom" placeholder="Address" name="address">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Individual Commission</label>
                    <input  type="text" class="md-input label-fixed md-input-custom" placeholder="Individual Commission" name="commission">
                </div>
                <div class="uk-width-2-3 uk-margin-medium-bottom">
                    <label>Youtube Video</label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder='Enter only youtube video id Like-"X4aKpjO2Nk4"' name="youtube">
                </div>
                <div class="uk-width-3-3 uk-margin-medium-bottom">
                    <label>About Gym <strong class="uk-text-danger">*</strong></label>
                    <textarea required class="md-input label-fixed md-input-custom" placeholder="About Gym" name="about" rows="5"></textarea>
                </div>
            </div>
            <div class="uk-margin-large-bottom">
                <div class="uk-width-1-1 uk-bg-dark uk-padding-1 uk-margin-bottom">
                    <h2 class="uk-text-white uk-margin-remove"><i class="material-icons uk-text-white uk-padding-half icon-bold-clock"></i> Gym Timings</h2>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-3">
                        <h4>Days</h4>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Monday</div>
                            <div>
                                <input type="checkbox" class="monday" data-switchery name="day">
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Tuesday</div>
                            <div>
                                <input type="checkbox" class="tuesday" data-switchery name="day">
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Wednesday</div>
                            <div>
                                <input type="checkbox" class="wednesday" data-switchery name="day">
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Thursday</div>
                            <div>
                                <input type="checkbox" class="thursday" data-switchery name="day">
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Friday</div>
                            <div>
                                <input type="checkbox" class="friday" data-switchery name="day">
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Saturday</div>
                            <div>
                                <input type="checkbox" class="saturday" data-switchery name="day">
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Sunday</div>
                            <div>
                                <input type="checkbox" class="sunday" data-switchery name="day">
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-3">
                        <h4>Opening Time</h4>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="monday_start md-input md-input-custom" data-uk-timepicker value="00:00" name="monday_start" disabled>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="tuesday_start md-input md-input-custom" data-uk-timepicker value="00:00" name="tuesday_start" disabled>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="wednesday_start md-input md-input-custom" data-uk-timepicker value="00:00" name="wednesday_start" disabled>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="thursday_start md-input md-input-custom" data-uk-timepicker value="00:00" name="thursday_start" disabled>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="friday_start md-input md-input-custom" data-uk-timepicker value="00:00" name="friday_start" disabled>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="saturday_start md-input md-input-custom" data-uk-timepicker value="00:00" name="saturday_start" disabled>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="sunday_start md-input md-input-custom" data-uk-timepicker value="00:00" name="sunday_start" disabled>
                        </div>
                    </div>
                    <div class="uk-width-1-3">
                        <h4>Closing Time</h4>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="monday_end md-input md-input-custom" data-uk-timepicker value="00:00" name="monday_end" disabled>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="tuesday_end md-input md-input-custom" data-uk-timepicker value="00:00" name="tuesday_end" disabled>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="wednesday_end md-input md-input-custom" data-uk-timepicker value="00:00" name="wednesday_end" disabled>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="thursday_end md-input md-input-custom" data-uk-timepicker value="00:00" name="thursday_end" disabled>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="friday_end md-input md-input-custom" data-uk-timepicker value="00:00" name="friday_end" disabled>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="saturday_end md-input md-input-custom" data-uk-timepicker value="00:00" name="saturday_end" disabled>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="sunday_end md-input md-input-custom" data-uk-timepicker value="00:00" name="sunday_end" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-bg-dark uk-padding-1 uk-margin-bottom">
                <h2 class="uk-text-white"><i class="material-icons uk-text-white uk-padding-half">account_balance</i> Bank Details</h2>
                <div class="uk-grid">
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label class="uk-text-white">Bank Name <strong class="uk-text-danger">*</strong></label>
                        <input required type="text" class="md-input label-fixed md-input-custom" placeholder="Bank Name" name="bank_name">
                    </div>
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label class="uk-text-white">Bank Account Number <strong class="uk-text-danger">*</strong></label>
                        <input required type="number" class="md-input label-fixed md-input-custom" placeholder="Bank Account Number" name="bank_account">
                    </div>
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label class="uk-text-white">Swift Code <strong class="uk-text-danger">*</strong></label>
                        <input required type="number" class="md-input label-fixed md-input-custom" placeholder="Swift Code" name="swift_code">
                    </div>
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label class="uk-text-white">Account Holder Name <strong class="uk-text-danger">*</strong></label>
                        <input required type="text" class="md-input label-fixed md-input-custom" placeholder="Account Holder Name" name="holder_name">
                    </div>
                </div>
            </div>
            <div class="uk-float-right">
                <button type="submit" class="md-btn md-btn-primary">Save</button>
                <button type="reset" class="md-btn">Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}
