
{% extends "main/index.html" %}
{% load static %}
{% block content %}
    <div id="page_content_inner">
        <form action="{% url 'gym:event_add_subscription_plan' sel_gym.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-text-center uk-margin-medium-bottom">
                    <img src="{% static 'assets/img/subscription.png' %}" width="250px">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Plan Type <strong class="uk-text-danger">*</strong></label>
                        <input type="text" class="md-input label-fixed md-input-custom" placeholder="Plan Type" name="plan_type">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Plan Name <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Plan Name" name="plan_name">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Plan Validity in Months <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Plan Validity in Months" name="plan_validity">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Plan Price <strong class="uk-text-danger">*</strong></label>
                    <input type="number" class="md-input label-fixed md-input-custom" placeholder="Plan Price" name="plan_price">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Description 1 <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Description 1" name="desc1">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>More Description <strong class="uk-text-danger">*</strong></label>
                    <button type="button" class="md-btn md-btn-primary md-btn-block add_description">Add</button>
                </div>
            </div>

            <div class="uk-float-right">
                <button type="submit" class="md-btn md-btn-primary">Save</button>
                <button type="reset" class="md-btn">Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}
