{% extends "main/index.html" %}

{% block content %}
    <div id="page_content_inner">
        <div class="uk-grid uk-margin-bottom table-filter">
            <div class="uk-width-medium-1-6">
                <select data-md-selectize data-md-selectize-bottom data-placeholder="Records Per Page">
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                </select>
            </div>
            <div class="uk-width-medium-1-6">
                <select data-md-selectize data-md-selectize-bottom data-placeholder="Filter By Status">
                    <option>Activated</option>
                    <option>Deactivated</option>
                </select>
            </div>
            <div class="uk-width-medium-1-6">
                <select data-md-selectize data-md-selectize-bottom data-placeholder="Filter by Country">
                    <option>Romania</option>
                    <option>Kuwait</option>
                </select>
            </div>
            <div class="uk-width-medium-1-6">
                <input type="text" class="md-input md-input-custom" placeholder="Filter by User" name="filter_nam">
            </div>
            <div class="uk-width-medium-1-6">
                <input type="email" class="md-input md-input-custom" placeholder="Filter by Email" name="email">
            </div>
            <div class="uk-width-medium-1-6">
                <button type="submit" class="md-btn md-btn-primary md-btn-block uk-margin-small-top">Reset</button>
            </div>
        </div>
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content uk-padding-remove">
                <table class="uk-table uk-table-striped uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Features</th>
                            <th>Address</th>
                            <th>Commission</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for gym in gyms %}
                        <tr id="row_{{gym.id}}">
                            <td id="td1_{{gym.id}}">
                                {% if gym.business.user.fullname %}
                                    {{gym.business.user.fullname}}
                                {% else %}
                                    {{gym.business.user.get_fullname}}
                                {% endif %}
                            </td>
                            <td id="td2_{{gym.id}}">{{gym.business.user.username}}</td>
                            <td id="td3_{{gym.id}}">{{gym.business.user.email}}</td>
                            <td id="td4_{{gym.id}}">{{gym.business.user.phone}}</td>
                            
                            <td id="td5_{{gym.id}}">
                                {% for feature in gym.feature.all %}
                                    {{feature.name}},
                                {% endfor %}
                            </td>
                            <td id="td6_{{gym.id}}">{{gym.business.user.address}}</td>
                            <td id="td7_{{gym.id}}">{{gym.business.commission}}</td>
                            <td id="td8_{{gym.id}}">
                                <span class="uk-badge uk-badge-{{ gym.business.user.status|yesno:'success,danger' }}">{{ gym.business.user.status|yesno:"Activated,Deactivated" }}</span><br>
                                <span class="uk-badge uk-badge-{{ trainer.business.user.is_verified|yesno:'success,danger' }}">{{ gym.business.user.is_verified|yesno:"Verified,Not Verified" }}</span>
                            </td>
                            <td id="td9_{{gym.id}}">
                                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                    <button class="md-btn md-btn-primary md-btn-small">Action <i class="material-icons">&#xE313;</i></button>
                                    <div class="uk-dropdown">
                                        <ul class="uk-nav uk-nav-dropdown">
                                            <li>
                                                <a href="{% url 'gym:view_gym' gym.id %}" class="uk-text-success">
                                                    <i class="material-icons uk-text-success icon-bold-eye"></i>
                                                    <span>View</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'gym:event_update_gym_status' gym.id %}" class="uk-text-{{ gym.business.user.status|yesno:'warning,success' }}">
                                                    <i class="material-icons uk-text-warning {{ gym.business.user.status|yesno:'icon-bold-timer-pause,icon-ellipse-green' }}"></i>
                                                    <span>{{ gym.business.user.status|yesno:"Deactivate,Activate" }}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'gym:event_edit_gym' gym.id %}"   class="uk-text-primary">
                                                    <i class="material-icons uk-text-primary icon-bold-edit"></i>
                                                    <span>Modify</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'gym:view_subscription_plan' gym.id %}" class="uk-text-success">
                                                    <i class="material-icons uk-text-success icon-bold-wallet"></i>
                                                    <span>Subscription Plans</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'gym:event_delete_gym' gym.id %}" class="uk-text-danger">
                                                    <i class="material-icons uk-text-danger icon-bold-trash"></i>
                                                    <span>Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="uk-flex uk-flex-between">
            <div>
                <span>Showing 1 to 10 of 177 entries</span>
            </div>
            <div>
                <ul class="uk-pagination">
                    <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                    <li class="uk-active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><span>&hellip;</span></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}

