{% extends "main/index.html" %}

{% block content %}
<div id="page_content_inner">

            <div id="gym_view_page">
                <div class="gym_view_header">
                    <div class="uk-slidenav-position" data-uk-slideshow="{animation:'scroll', height: '300px'}">
                        <ul class="uk-slideshow">
                            <li><img src="{{gym_data.banner.url}}" alt=""></li>
                        </ul>
                        <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                        <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                        <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                            <li data-uk-slideshow-item="0"><a href="#"></a></li>
                            <li data-uk-slideshow-item="1"><a href="#"></a></li>
                            <li data-uk-slideshow-item="2"><a href="#"></a></li>
                            <li data-uk-slideshow-item="3"><a href="#"></a></li>
                        </ul>
                    </div>
                    <a href="" class="gym_view_profile_photo" data-uk-lightbox>
                        <img src="{{gym_data.logo.url}}">
                    </a>
                </div>

                <div class="uk-grid gym_details">
                    <div class="uk-width-1-2">
                        <ul class="uk-list uk-list-divider">
                            <li>
                                <span class="uk-float-left">Gym Name</span>
                                <strong class="uk-float-right">{{gym_data.gym_name}}</strong>
                            </li>
                            <li>
                                <span class="uk-float-left">Email</span>
                                <strong class="uk-float-right">{{gym_data.email}}</strong>
                            </li>
                            <li>
                                <span class="uk-float-left">Phone</span>
                                <strong class="uk-float-right">{{gym_data.phone}}</strong>
                            </li>
                            <li>
                                <span class="uk-float-left">Website</span>
                                <strong class="uk-float-right">{{gym_data.url}}</strong>
                            </li>
                            <li>
                                <span class="uk-float-left">Country</span>
                                <strong class="uk-float-right">{{gym_data.country.name}}</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-1-2">
                        <h3>Address</h3>
                        <p>{{gym_data.address}}</p>
                        <h3>About Gym</h3>
                        <p>{{gym_data.about}}</p>
                    </div>
                </div>

                <div class="uk-bg-white uk-border-dark uk-radius-5 uk-padding-1 uk-margin-large-top uk-margin-bottom">
                    <h2><i class="material-icons">account_balance</i> Bank Details</h2>
                    <ul class="uk-list uk-list-divider">
                        <li>
                            <h5 class="uk-float-left uk-margin-remove">Bank Name</h5>
                            <strong class="uk-float-right">{{bank.bank_name}}</strong>
                        </li>
                        <li>
                            <h5 class="uk-float-left uk-margin-remove">Bank Account Number</h5>
                            <strong class="uk-float-right">{{bank.acc_no}}</strong>
                        </li>
                        <li>
                            <h5 class="uk-float-left uk-margin-remove">Swift Code</h5>
                            <strong class="uk-float-right">{{bank.swift_code}}</strong>
                        </li>
                        <li>
                            <h5 class="uk-float-left uk-margin-remove">Account Holder Name</h5>
                            <strong class="uk-float-right">{{bank.acc_name}}</strong>
                        </li>
                    </ul>
                </div>

                <div class="uk-bg-white uk-border-dark uk-radius-5 uk-padding-1 uk-margin-large-top uk-margin-bottom">
                    <h2><i class="material-icons uk-text-dark icon-bold-clock"></i> Gym Timings</h2>
                    <table class="gym_timings_table uk-table">
                        <thead>
                            <tr>
                                <td>Days</td>
                                <td>Opening Time</td>
                                <td>Closing Time</td>
                            </tr>
                        </thead>
                        <tbody>
                        {%for i in timing%}
                        {% if i.open and i.close %}
                            <tr>
                                <td>{{i.day}}</td>
                                <td>{{i.open}}</td>
                                <td>{{i.close}}</td>
                            </tr>

                        {% else %}
                       <tr>
                                <td>{{i.day}}</td>
                                <td><span class="uk-text-danger">Closed</span></td>
                                <td><span class="uk-text-danger">Closed</span></td>
                            </tr>

                        {% endif %}

                        {%endfor%}


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
{% endblock content %}

