{% extends "main/index.html" %}

{% block content %}
<div id="page_content_inner">
    <form action="{%url 'gym:modify' gym_d.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="uk-grid">

                <div class="uk-width-1-6">
                    <input type="file" class="dropify_gym_profile_photo" name="image_file" data-default-file="{{gym_d.logo.url}}" value="{{gym_d.logo.url}}" >
                </div>
                <div class="uk-width-4-6">
                    <input required type="file" class="dropify_gym_banner_image" name="image_file1" data-default-file="{{gym_d.banner.url}}" value="{{gym_d.banner.url}}" >
                </div>
                <div class="uk-width-1-6">
                    <input required type="file" class="dropify_gym_video" name="image_file2" data-default-file="{{gym_d.video.url}}" value="{{gym_d.video.url}}" >
                </div>
                <!--<div class="uk-width-4-6">-->
                    <!--&lt;!&ndash; <input type="file" class="dropify_gym_banner_image" name=""> &ndash;&gt;-->
                    <!--<div class="uk-grid uk-border-dark uk-margin-remove uk-padding-1">-->
                        <!--<div class="uk-width-1-6 uk-padding-half">-->
                            <!--<input type="file" class="dropify_gym_banner_image" data-default-file="{{gym_d.banner.url}}" name="drop_img">-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="uk-width-1-6 uk-padding-half">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="file" class="dropify_gym_banner_image" data-default-file="assets/img/gallery/Image03.jpg" name="data_file">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="uk-width-1-6 uk-padding-half">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="file" class="dropify_gym_banner_image" data-default-file="assets/img/gallery/Image04.jpg" name="drop_img1">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="uk-width-1-6 uk-padding-half">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="file" class="dropify_gym_banner_image" data-default-file="assets/img/gallery/Image05.jpg" name="data_img">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="uk-width-1-6 uk-padding-half">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="file" class="dropify_gym_banner_image" data-default-file="assets/img/gallery/Image06.jpg" name="data_img1">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="uk-width-1-6 uk-padding-half">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="file" class="dropify_gym_banner_image" name="drop_img2">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="uk-width-1-6">-->
                    <!--<input type="file" class="dropify_gym_video" name="drop_vid">-->
                <!--</div>-->
            </div>

            <div class="uk-grid">
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Gym Full Name <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Gym Full Name" name="gym_fnam" value="{{gym_d.gym_name}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Gym Username <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Gym Username" name="gym_user" value="{{gym_d.username}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Email <strong class="uk-text-danger">*</strong></label>
                    <input type="email" class="md-input label-fixed md-input-custom" placeholder="Email" name="email" value="{{gym_d.email}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Website Url <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Website Url"  name="web_url" value="{{gym_d.url}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Phone Number <strong class="uk-text-danger">*</strong></label>
                    <input type="tel" class="md-input label-fixed md-input-custom" placeholder="Phone Number" name="phon_num" value="{{gym_d.phone}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Features <strong class="uk-text-danger">*</strong></label>
                    <div class="selectize_custom">
                        <select name="feature" data-md-selectize data-md-selectize-bottom data-placeholder="Features..." multiple>
                               {% for c in feature %}
                            <option  {% if   c.id in feature_id %} selected {% endif %} value="{{c.id}}">{{c.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Vendor Id <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Vendor Id" name="ven_id" value="{{gym_d.vendor}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Categories <strong class="uk-text-danger">*</strong></label>
                    <div class="selectize_custom">
                        <select name="category" data-md-selectize data-md-selectize-bottom data-placeholder="Categories..." multiple>
                               {% for c in cat %}
                            <option {% if   c.id in cat_id %} selected {% endif  %} value="{{c.id}}">{{c.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Country <strong class="uk-text-danger">*</strong></label>
                    <div class="selectize_custom">
                        <select name="country" data-md-selectize data-md-selectize-bottom data-placeholder="Country...">
                             {% for c in country %}
                            <option {% if   c.id == gym_d.country.id %} selected {% endif  %} value="{{c.id}}">{{c.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Latitude <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Latitude" name="lat" value="{{gym_d.latitude}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Longitude <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Longitude" name="long" value="{{gym_d.longitude}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Address <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Address" name="add" value="{{gym_d.address}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Individual Commission</label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Individual Commission" name="invali_com" value="{{gym_d.comision}}" required>
                </div>
                <div class="uk-width-2-3 uk-margin-medium-bottom">
                    <label>Youtube Video</label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder='Enter only youtube video id Like-"X4aKpjO2Nk4"' name="you_video" value="{{gym_d.youtube}}" required>
                </div>
                <div class="uk-width-3-3 uk-margin-medium-bottom">
                    <label>About Gym <strong class="uk-text-danger">*</strong></label>
                    <textarea class="md-input label-fixed md-input-custom" placeholder="About Gym" name="gym_abo" rows="5" required>{{gym_d.about}} </textarea>
                </div>
            </div>

            <div class="uk-margin-large-bottom">
                <div class="uk-width-1-1 uk-bg-dark uk-padding-1 uk-margin-bottom">
                    <h2 class="uk-text-white uk-margin-remove"><i class="material-icons uk-text-white uk-padding-half icon-bold-clock"></i> Gym Timings</h2>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-3">
                        <h4>Days</h4>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Monday</div>
                            <div>
                                <input type="checkbox" class="monday" data-switchery {{time.monday}}>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Tuesday</div>
                            <div>
                                <input type="checkbox" class="tuesday" data-switchery {{time.tuesday}}>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Wednesday</div>
                            <div>
                                <input type="checkbox" class="wednesday" data-switchery {{time.wednesday}}>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Thursday</div>
                            <div>
                                <input type="checkbox" class="thursday" data-switchery {{time.thursday}}>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Friday</div>
                            <div>
                                <input type="checkbox" class="friday" data-switchery {{time.friday}}>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Saturday</div>
                            <div>
                                <input type="checkbox" class="saturday" data-switchery {{time.saturday}}>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between uk-bg-white uk-padding-half uk-border-dark uk-radius-5 uk-align-center">
                            <div>Sunday</div>
                            <div>
                                <input type="checkbox" class="sunday" data-switchery {{time.sunday}}>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-3">
                        <h4>Opening Time</h4>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="monday_start md-input md-input-custom" data-uk-timepicker name="mon_t" value="{{timec.monday.open|date:"H:i"}}" {%if time.monday != "checked"%} disabled {%endif%} required>
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="tuesday_start md-input md-input-custom" data-uk-timepicker name="tues_t" value="{{timec.tuesday.open|date:"H:i"}}" {%if time.tuesday != "checked"%} disabled {%endif%} >
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="wednesday_start md-input md-input-custom" data-uk-timepicker  name="wed_t" value="{{timec.wednesday.open|date:"H:i"}}" {%if time.wednesday != "checked"%} disabled {%endif%}  >
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="thursday_start md-input md-input-custom" data-uk-timepicker  name="thur_t" value="{{timec.thursday.open|date:"H:i"}}" {%if time.thursday != "checked"%} disabled {%endif%}  >
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="friday_start md-input md-input-custom" data-uk-timepicker name="fri_t" value="{{timec.friday.open|date:"H:i"}}" {%if time.friday != "checked"%} disabled {%endif%}  >
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="saturday_start md-input md-input-custom" data-uk-timepicker name="sat_t" value="{{timec.saturday.open|date:"H:i"}}" {%if time.saturday != "checked"%} disabled {%endif%}  >
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="sunday_start md-input md-input-custom" data-uk-timepicker value="{{timec.sunday.open|date:"H:i"}}" {%if time.sunday != "checked"%} disabled {%endif%}  name="sun_t" >
                        </div>
                    </div>
                    <div class="uk-width-1-3">
                        <h4>Closing Time</h4>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="monday_end md-input md-input-custom" data-uk-timepicker value="{{timec.monday.close|date:"H:i"}}" {%if time.monday != "checked"%} disabled {%endif%} required name="mon_ct" >
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="tuesday_end md-input md-input-custom" data-uk-timepicker value="{{timec.tuesday.close|date:"H:i"}}" {%if time.tuesday != "checked"%} disabled {%endif%} name="tues_ct" >
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="wednesday_end md-input md-input-custom" data-uk-timepicker value="{{timec.wednesday.close|date:"H:i"}}" {%if time.wednesday != "checked"%} disabled {%endif%} name="wed_ct" >
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="thursday_end md-input md-input-custom" data-uk-timepicker value="{{timec.thursday.close|date:"H:i"}}" {%if time.thursday != "checked"%} disabled {%endif%} name="thur_ct" >
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="friday_end md-input md-input-custom" data-uk-timepicker value="{{timec.friday.close|date:"H:i"}}" {%if time.friday != "checked"%} disabled {%endif%} name="fri_ct" >
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="saturday_end md-input md-input-custom" data-uk-timepicker value="{{timec.saturday.close|date:"H:i"}}" {%if time.saturday != "checked"%} disabled {%endif%} name="sat_ct" >
                        </div>
                        <div class="uk-padding-1-bottom uk-margin-remove">
                            <input type="text" class="sunday_end md-input md-input-custom" data-uk-timepicker value="{{timec.sunday.close|date:"H:i"}}" {%if time.sunday != "checked"%} disabled {%endif%} name="sun_ct" >
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-bg-dark uk-padding-1 uk-margin-bottom">
                <h2 class="uk-text-white"><i class="material-icons uk-text-white uk-padding-half">account_balance</i> Bank Details</h2>
                <div class="uk-grid">
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label class="uk-text-white">Bank Name <strong class="uk-text-danger">*</strong></label>
                        <input type="text" class="md-input label-fixed md-input-custom" placeholder="Bank Name" name="bank_nam" value="{{bank.bank_name}}" required>
                    </div>
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label class="uk-text-white">Bank Account Number <strong class="uk-text-danger">*</strong></label>
                        <input type="number" class="md-input label-fixed md-input-custom" placeholder="Bank Account Number" name="bank_acc" value="{{bank.acc_no}}" required>
                    </div>
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label class="uk-text-white">Swift Code <strong class="uk-text-danger">*</strong></label>
                        <input type="number" class="md-input label-fixed md-input-custom" placeholder="Swift Code" name="sfcode" value="{{bank.swift_code}}" required>
                    </div>
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label class="uk-text-white">Account Holder Name <strong class="uk-text-danger">*</strong></label>
                        <input type="text" class="md-input label-fixed md-input-custom" placeholder="Account Holder Name" name="ah_name" value="{{bank.acc_name}}" required>
                    </div>
                </div>
            </div>

            <div class="uk-float-right">
                <button type="submit" class="md-btn md-btn-primary">Submit</button>
                <button type="reset" class="md-btn">Reset</button>
            </div>
</form>
        </div>

{% endblock content %}

