{% extends "main/index.html" %}
{% load static %}
{% block content %}
    <div id="page_content_inner">   
        {% if message %}<h3 style="color:red">{{ message }}</h3>{% endif %}
        <form action="{% url 'main:change' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="uk-grid">
                <div class="uk-width-2-6">
                    <div class="uk-form-row">
                        <div class="uk-margin-medium-top">
                            <label>Old Passowrd <strong class="uk-text-danger">*</strong></label>
                            <div class="uk-input-group uk-width">
                                <input required class="md-input md-input-custom" type="password" id="old_password" name="old_password" placeholder="Old Password">
                                <a href="#" class="uk-form-password-toggle" data-uk-form-password>
                                    <i class="material-icons">visibility</i>
                                </a>
                            </div>
                        </div>

                        <div class="uk-margin-medium-top">
                            <label>New Passowrd <strong class="uk-text-danger">*</strong></label>
                            <div class="uk-input-group uk-width">
                                <input required class="md-input md-input-custom" type="password" id="new_password" name="new_password" placeholder="New Password">
                                <a href="#" class="uk-form-password-toggle" data-uk-form-password>
                                    <i class="material-icons">visibility</i>
                                </a>
                            </div>
                        </div>

                        <div class="uk-margin-medium-top">
                            <label>Confirm Passowrd <strong class="uk-text-danger">*</strong></label>
                            <div class="uk-input-group uk-width">
                                <input required class="md-input md-input-custom" type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
                                <a href="#" class="uk-form-password-toggle" data-uk-form-password>
                                    <i class="material-icons">visibility</i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="uk-width-2-6 uk-margin-auto">
                    <img src="{% static 'assets/img/change_password.png' %}">
                </div>
            </div>

            <div class="uk-float-left uk-margin-medium-top">
                <button type="submit" class="md-btn md-btn-primary">Submit</button>
                <button type="reset" class="md-btn">Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}