{% extends "main/index.html" %}
{% load static %}
{% block content %}
<div id="page_content_inner">
    {% if message %}<h3 style="color:red">{{ message }}</h3>{% endif %}
    <form action="{%url 'user:event_insert' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="uk-grid">
            <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail">
                    <img src="{% static 'assets/img/avatars/user.png' %}" alt="user avatar"/>
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                <div class="user_avatar_controls">
                    <span class="btn-file">
                        <span class="fileinput-new"><i class="material-icons"><span class="icon-Group--2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span></i></span>
                        <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                        <input type="file" name="user_profile_photo" id="user_profile_photo">
                    </span>
                    <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                </div>
            </div>
            <div class="uk-padding-remove">
                <h2 class="uk-margin-top uk-margin-small-bottom">Profile Photo</h2>
                <span class="uk-text-muted">(.png/jpg)(400x400)</span>
            </div>
        </div>

        <div class="uk-grid">
            <div class="uk-width-1-3 uk-margin-medium-bottom">
                <label>Username <strong class="uk-text-danger">*</strong></label>
                <input required type="text" class="md-input label-fixed md-input-custom" placeholder="Username" name="username">
            </div>
            <div class="uk-width-1-3 uk-margin-medium-bottom">
                <label>Email <strong class="uk-text-danger">*</strong></label>
                <input required type="email" class="md-input label-fixed md-input-custom" placeholder="Email" name="email">
            </div>
            <div class="uk-width-1-3 uk-margin-medium-bottom">
                <label>Date Of Birth <strong class="uk-text-danger">*</strong></label>
                <input required readonly type="text" class="md-input label-fixed md-input-custom" placeholder="Date Of Birth" data-uk-datepicker="{format:'YYYY-MM-DD'}" name="birthday">
            </div>
            <div class="uk-width-1-3 uk-margin-medium-bottom">
                <label>First Name <strong class="uk-text-danger">*</strong></label>
                <input required type="text" class="md-input label-fixed md-input-custom" placeholder="First Name" name="first_name">
            </div>
            <div class="uk-width-1-3 uk-margin-medium-bottom">
                <label>Last Name <strong class="uk-text-danger">*</strong></label>
                <input required type="text" class="md-input label-fixed md-input-custom" placeholder="Last Name" name="last_name">
            </div>
            <div class="uk-width-1-3 uk-margin-medium-bottom">
                <label>Phone Number <strong class="uk-text-danger">*</strong></label>
                <input required type="tel" class="md-input label-fixed md-input-custom" placeholder="Phone Number" name="phone">
            </div>
            <div class="uk-width-1-3 uk-margin-medium-bottom">
                <label>Password <strong class="uk-text-danger">*</strong></label>
                <input required type="password" class="md-input label-fixed md-input-custom" placeholder="Password" name="password">
            </div>
            <div class="uk-width-1-3 uk-margin-medium-bottom">
                <label>Confirm Password <strong class="uk-text-danger">*</strong></label>
                <input required type="password" class="md-input label-fixed md-input-custom" placeholder="Confirm Password" name="confirm_password">
            </div>
            <div class="uk-width-1-3 uk-margin-medium-bottom">
                <label>Country <strong class="uk-text-danger">*</strong></label>
                <div class="selectize_custom">
                    <select readonly name="country" data-md-selectize data-md-selectize-bottom data-placeholder="Country">
                        {% for country in country_list %}
                        <option value="{{i.name}}">{{country.name}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="uk-width-2-3 uk-margin-medium-bottom">
                <label>Gender <strong class="uk-text-danger">*</strong></label>
                <div class="uk-margin-top">
                    <span class="icheck-inline">
                        <input required type="radio" name="gender" value="Male" id="radio_demo_inline_1" data-md-icheck />
                        <label for="radio_demo_inline_1" class="inline-label">Male</label>
                    </span>
                    <span class="icheck-inline">
                        <input type="radio" name="gender" value="Female" id="radio_demo_inline_2" data-md-icheck checked>
                        <label for="radio_demo_inline_2" class="inline-label">Female</label>
                    </span>
                    <span class="icheck-inline">
                        <input type="radio" name="gender" value="Other" id="radio_demo_inline_3" data-md-icheck />
                        <label for="radio_demo_inline_3" class="inline-label">Other</label>
                    </span>
                    <span class="icheck-inline">
                        <input type="radio" name="gender" value="Prefer Not To Say" id="radio_demo_inline_4" data-md-icheck />
                        <label for="radio_demo_inline_3" class="inline-label">Prefer Not To Say</label>
                    </span>
                </div>
            </div>
            <div class="uk-width-1-3 uk-margin-medium-bottom">
                <label>Address <strong class="uk-text-danger">*</strong></label>
                <input required type="text" class="md-input label-fixed md-input-custom" placeholder="Address" name="address">
            </div>
        </div>
        <div class="uk-float-right">
            <button type="submit" class="md-btn md-btn-primary">Save</button>
            <button type="reset" class="md-btn">Reset</button>
        </div>
    </form>
</div>
{% endblock content %}
