{% extends "main/index.html" %}

{% block content %}
    <div id="page_content_inner">
        {% if message %}<h3 style="color:red">{{ message }}</h3>{% endif %}
        <form action="{% url 'trainer:event_update_info' sel_trainer.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="uk-grid">
                <div class="uk-width-1-5">
                    {% if sel_trainer.logo %}
                        <input type="file" class="dropify dropify_logo" name="image_logo" data-default-file="{{sel_trainer.logo.url}}" value="{{sel_trainer.logo.url}}">
                    {% else %}
                        <input type="file" class="dropify dropify_logo" name="image_logo">
                    {% endif %}
                </div>
                <div class="uk-width-4-5">
                    <input type="file" class="dropify dropify_banner_images">
                </div>
            </div>

            <div class="uk-grid">
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Trainer Full Name <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Trainer Full Name" name="fullname" value="{{ sel_trainer.business.user.fullname }}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Trainer Username <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Trainer Username" name="username" value="{{sel_trainer.business.user.username}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Email <strong class="uk-text-danger">*</strong></label>
                    <input type="email" class="md-input label-fixed md-input-custom" placeholder="Email" name="email" value="{{sel_trainer.business.user.email}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Website Url <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Website Url" name="website" value="{{sel_trainer.business.website}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Phone Number <strong class="uk-text-danger">*</strong></label>
                    <input type="tel" class="md-input label-fixed md-input-custom" placeholder="Phone Number" name="phone" value="{{sel_trainer.business.user.phone}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Vendor Id <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Vendor Id" name="vendor" value="{{sel_trainer.business.vendor}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Categories <strong class="uk-text-danger">*</strong></label>
                    <div class="selectize_custom">
                        <select name="categories" data-md-selectize data-md-selectize-bottom data-placeholder="Categories..." multiple>
                        {%for category in categories%}
                            <option {% if category in trainer_category %} selected {% endif %} value="{{category.id}}">{{category.name}}</option>
                        {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Languages Spoken <strong class="uk-text-danger">*</strong></label>
                    <div class="selectize_custom">
                        <select name="languages" data-md-selectize data-md-selectize-bottom data-placeholder="Languages Spoken..." multiple>
                        {%for language in languages%}
                            <option {% if language in trainer_languages %} selected {% endif %} value="{{language.id}}">{{language.title}}</option>
                        {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Individual Commission</label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Individual Commission" name="commission" value="{{sel_trainer.business.commission}}" required>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Country <strong class="uk-text-danger">*</strong></label>
                    <div class="selectize_custom">
                        <select name="country_list" data-md-selectize data-md-selectize-bottom data-placeholder="Country...">
                        {%for country in country_list%}
                            <option value="{{country.name}}" {% if country.name == sel_trainer.business.user.country %} selected {% endif %}>{{country.name}}</option>
                        {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Address <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Address" name="address" value="{{sel_trainer.business.user.address}}" required>
                </div>
                <div class="uk-width-3-3 uk-margin-medium-bottom">
                    <label>About Trainer <strong class="uk-text-danger">*</strong></label>
                    <textarea class="md-input label-fixed md-input-custom" placeholder="About Trainer" name="about" rows="5"  required>{{sel_trainer.business.user.about}}</textarea>
                </div>
                <div class="uk-width-1-2 uk-margin-medium-bottom">
                    <label>Youtube Video</label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder='Enter only youtube video id Like-"X4aKpjO2Nk4"' name="youtube" value="{{sel_trainer.business.youtube}}" required>
                </div>
                <div class="uk-width-1-2 uk-margin-medium-bottom">
                    <label>
                        <div class="uk-flex uk-flex-between">
                            <span>Enter Ceritifcation/Qualification with Year</span>
                            <a href="#"><i class="material-icons md-icon"><span class="icon-Group-15204"><span class="path1"></span><span class="path2"></span></span></i></i></a>
                        </div>
                    </label>
                    <input type="text" class="md-input label-fixed md-input-custom" placeholder="Enter Ceritifcation/Qualification with Year" name="certification" value="{{sel_trainer.certification}}" required>
                </div>
            </div>

            <div class="uk-bg-dark uk-padding-1 uk-margin-bottom">
                <h2 class="uk-text-white"><i class="material-icons uk-text-white uk-padding-half">account_balance</i> Bank Details</h2>
                <div class="uk-grid">
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label class="uk-text-white">Bank Name <strong class="uk-text-danger">*</strong></label>
                        <input type="text" class="md-input label-fixed md-input-custom" placeholder="Bank Name" name="bank_name" value="{{sel_trainer.trainers_bank.name}}" required>
                    </div>
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label class="uk-text-white">Bank Account Number <strong class="uk-text-danger">*</strong></label>
                        <input type="number" class="md-input label-fixed md-input-custom" placeholder="Bank Account Number" name="bank_account" value="{{sel_trainer.trainers_bank.account_number}}" required>
                    </div>
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label class="uk-text-white">Swift Code <strong class="uk-text-danger">*</strong></label>
                        <input type="number" class="md-input label-fixed md-input-custom" placeholder="Swift Code" name="swift_code" value="{{sel_trainer.trainers_bank.swift_code}}" required>
                    </div>
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label class="uk-text-white">Account Holder Name <strong class="uk-text-danger">*</strong></label>
                        <input type="text" class="md-input label-fixed md-input-custom" placeholder="Account Holder Name" name="holder_name" value="{{sel_trainer.trainers_bank.account_holder_name}}" required>
                    </div>
                </div>
            </div>

            <div class="uk-float-right">
                <button type="submit" class="md-btn md-btn-primary">Save</button>
                <button type="reset" class="md-btn">Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}
