{% extends "main/index.html" %}

{% block content %}
    <div id="page_content_inner">
        <form action="{% if email %} {% url 'setting:update_email' email.id %} {% else %} {% url 'setting:add_email' %} {% endif %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="uk-grid">
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Host</label>
                    <input type="text" class="md-input label-fixed md-input-custom" value="{{email.host}}" placeholder="Host" name="host">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Timeout</label>
                    <input type="text" class="md-input label-fixed md-input-custom" value="{{email.time_out}}" placeholder="Timeout" name="time_out">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Client</label>
                    <input type="text" class="md-input label-fixed md-input-custom" value="{{email.client}}" placeholder="Client" name="client">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Port</label>
                    <input type="text" class="md-input label-fixed md-input-custom" value="{{email.port}}" placeholder="Port" name="port">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Password</label>
                    <input type="text" class="md-input label-fixed md-input-custom" value="{{email.password}}" placeholder="Password" name="password">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Username</label>
                    <input type="text" class="md-input label-fixed md-input-custom" value="{{email.username}}" placeholder="Username" name="username">
                </div>
            </div>
            <div class="uk-float-right">
                <button type="submit" class="md-btn md-btn-primary">Save</button>
                <button type="reset" class="md-btn">Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}