{% extends "main/index.html" %}

{% block content %}
    <div id="page_content_inner">
        <form action="{% if reading %} {% url 'setting:update_reading' reading.id %} {% else %} {% url 'setting:add_reading' %} {% endif %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}  
            <div class="uk-grid">
                <div class="uk-width-1-2 uk-margin-medium-bottom">
                    <label>Date Time Format <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom"  value="{{reading.date_time_format}}" placeholder="DD/MM/YYYY HH:MM:SS A" name="date_time_format">
                </div>
                <div class="uk-width-1-2 uk-margin-medium-bottom">
                    <label>Date Format <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom"  value="{{reading.date_format}}" placeholder="DD/MM/YYYY HH:MM:SS A" name="date_format">
                </div>
                <div class="uk-width-1-2 uk-margin-medium-bottom">
                    <label>Records Per Page <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom"  value="{{reading.records_per_page}}" placeholder="10" name="records_per_page">
                </div>
                <div class="uk-width-1-2 uk-margin-medium-bottom">
                    <label>Records Views <strong class="uk-text-danger">*</strong></label>
                    <input type="text" class="md-input label-fixed md-input-custom"  value="{{reading.record_views}}" placeholder="10,25,50,100" name="record_views">
                </div>
            </div>
            <div class="uk-float-right">
                <button type="submit" class="md-btn md-btn-primary">Save</button>
                <button type="reset" class="md-btn">Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}