{% extends "main/index.html" %}

{% block content %}
    <div id="page_content_inner">    
        <form action="{% if site %} {% url 'setting:update_site' site.id %} {% else %} {% url 'setting:add_site' %} {% endif %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="uk-grid">
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Site Title</label>
                    <input type="text" class="md-input label-fixed md-input-custom"   value="{{site.site_title}}" placeholder="Site Titles" name="site_title">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Inquiry Email <strong class="uk-text-danger">*</strong></label>
                    <input type="email" class="md-input label-fixed md-input-custom"  value="{{site.inquiry_email}}" placeholder="Inquiry Email" name="inquiry_email">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Name to be displayed in Emails</label>
                    <input type="text" class="md-input label-fixed md-input-custom"  value="{{site.names_in_email}}" placeholder="Name to be displayed in Emails" name="names_in_email">
                </div>
                <div class="uk-width-1-3 uk-margin-medium-bottom">
                    <label>Email</label>
                    <input type="email" class="md-input label-fixed md-input-custom"  value="{{site.site_email}}" placeholder="Email" name="site_email">
                </div>
                <div class="uk-width-2-3 uk-margin-medium-bottom">
                    <label>Copyright Text</label>
                    <input type="text" class="md-input label-fixed md-input-custom"  value="{{site.copyright_text }}" placeholder="Longitude" name="copyright_text">
                </div>
            </div>
            <div class="uk-float-right">
                <button type="submit" class="md-btn md-btn-primary">Save</button>
                <button type="reset" class="md-btn">Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}