{% extends "main/index.html" %}

{% block content %}

    <div id="page_content_inner">
            
           <form action="{% if has_data %} {%url 'setting:add_social_settings' %} {% else %} {%url 'setting:update_social_settings' data.0.id %} {%endif%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="uk-grid">
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label>Facebook Url <strong class="uk-text-danger">*</strong></label>
                        <div class="uk-input-group">
                            <input type="url" class="md-input label-fixed md-input-custom" value="{{data.0.facebook_url}}"   placeholder="Facebook Url" name="fb_url">
                            <span class="uk-input-group-addon">
                                <i class="material-icons icon-facebook-rect"></i>
                            </span>
                        </div>
                    </div>
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label>Twitter Url <strong class="uk-text-danger">*</strong></label>
                        <div class="uk-input-group">
                            <input type="url" class="md-input label-fixed md-input-custom"  value="{{data.0.twitter_url}}"   placeholder="Twitter Url" name="twit_url">
                            <span class="uk-input-group-addon">
                                <i class="material-icons icon-twitter-box"></i>
                            </span>
                        </div>
                    </div>
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label>Instagram Url <strong class="uk-text-danger">*</strong></label>
                        <div class="uk-input-group">
                            <input type="url" class="md-input label-fixed md-input-custom" value="{{data.0.instagram_url}}"  placeholder="Instagram Url" name="insta_url">
                            <span class="uk-input-group-addon">
                                <i class="material-icons icon-bxl-instagram-alt"></i>
                            </span>
                        </div>
                    </div>
                    <div class="uk-width-1-2 uk-margin-medium-bottom">
                        <label>Youtube Url <strong class="uk-text-danger">*</strong></label>
                        <div class="uk-input-group">
                            <input type="url" class="md-input label-fixed md-input-custom" value="{{data.0.youtube_url}}"  placeholder="Youtube Url" name="you_url">
                            <span class="uk-input-group-addon">
                                <i class="material-icons icon-youtube"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="md-fab-wrapper md-fab-in-card md-fab-speed-dial-horizontal">
                    <button type="submit" class="md-btn md-btn-primary">Submit</button>
                    <button type="reset" class="md-btn">Reset</button>
                </div>
            </form>

        </div>

{% endblock content %}